@import url(./__description/geography__description.css);
@import url(./__img/geography__img.css);
@import url(./__paragraph-coverage/geography__paragraph-coverage.css);
@import url(./__paragraph-subjects/geography__paragraph-subjects.css);
@import url(./__img-container/geography__img-container.css);

.geography {
    display: flex;
    width: 75%;
    margin: 129px auto 0;
}

@media screen and (max-width: 1305px) {
    .geography {
       margin-top: 300px;
        }
    }

    @media screen and (max-width: 962px) {
        .geography {
           margin-top: 250px;
            }
        }

@media screen and (max-width: 980px) {
    .geography {
        flex-direction: column;
        width: 90%;
        }
    }