.portfolio__about {
    width: 100%;
    background: #F4F8FF;
    padding: 71px 0 144px;
    margin: 0 auto;
}

@media screen and (max-width: 1389px) {
    .portfolio__about {
        padding-bottom: 0;
        }
    }
