.form__container-item {
    margin-right: 20px;
    width: 31.8%;
}

.form__container-item:last-of-type {
    margin: 0 11px 0;
}

@media screen and (max-width: 960px) {
    .form__container-item:last-of-type {
        width: 100%;
        margin: 16px 0 0;
    }
    }