.portfolio__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 20px);
    list-style-type: none;
    padding: 0;
    margin-bottom: 39px;
}

@media screen and (max-width: 747px) {
    .portfolio__list {
        grid-row-gap: 31px;
        }
    }

    @media screen and (max-width: 490px) {
        .portfolio__list {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 20px);
            }
        }