.portfolio__form {
    background-color: #4169C1;
    color: #FFFFFF;
    padding: 40px 34px 83px 34px;
    height: 30vh;
    margin-right: 46px;
}


@media screen and (max-width: 980px) {
    .portfolio__form {
        padding: 43px 60px 52px 60px;
        margin: 0 auto;
        height: auto;
        }
    }

    @media screen and (max-width: 490px) {
        .portfolio__form {
            padding: 43px 29px 52px 29px;
            margin: 0 auto;
            height: auto;
            }
        }