.portfolio__arrows {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 32px;
    margin-bottom: 36px;

}

@media screen and (max-width: 1390px) {
    .portfolio__arrows {
        grid-column-gap: 500px;
    }
    }

    @media screen and (max-width: 650px) {
        .portfolio__arrows {
            grid-column-gap: 400px;
        }
        }

        @media screen and (max-width: 536px) {
            .portfolio__arrows {
                grid-column-gap: 300px;
                margin-bottom: 50px;
            }
            }

            @media screen and (max-width: 415px) {
                .portfolio__arrows {
                    grid-column-gap: 200px;
                }
                }

 
