.geography__paragraph-subjects {
    font-size: 16px;
    line-height: 156.46%;
    color: rgba(0, 26, 51, 0.7);
    margin: 0;
}

@media screen and (max-width: 980px) {
    .geography__paragraph-subjects {
        width: 77%
        }
    }

    @media screen and (max-width: 490px) {
        .geography__paragraph-subjects {
            font-size: 14px;
            width: 100%;
            }
        }