@import url(./__slider/portfolio__slider.css);
@import url(./__img/portfolio__img.css);
@import url(./__form/portfolio__form.css);
@import url(./__list/portfolio__list.css);
@import url(./__item/portfolio__item.css);
@import url(./__form-about/portfolio__form-about.css);
@import url(./__img_about/portfolio__img_about.css);
@import url(./__about/portfolio__about.css);
@import url(./__form-paragraph/portfolio__form-paragraph.css);
@import url(./__list-about/portfolio__list-about.css);
@import url(./__form-header/portfolio__form-header.css);
@import url(./__arrow/portfolio__arrow.css);
@import url(./__arrows/portfolio__arrows.css);
@import url(./__arrows-right/portfolio__arrows-right.css);
@import url(./__arrows-left/portfolio__arrows-left.css);
@import url(./__img-small/portfolio__img-small.css);

.portfolio {
    width: 100%;
    background: #F4F8FF;
    padding: 71px 0 0;
}