.lead__title {
    font-weight: bold;
    font-size: 44px;
    line-height: 55px;
    /* text-align: center; */
    letter-spacing: 0.015em;
    width: 52%;
    margin: 109px auto 6.92px;
}

@media screen and (max-width: 960px) {
    .lead__title {
        font-size: 38px;
        line-height: 48px;
        width: 63%;
        }
    }