.form__button-first {
    width: 111%;
    background: #FD6612;
    border-radius: 37.5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;
    border: none;
    padding: 14px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 16px;
}