.header__phone-number {
    color: black;
    padding-top: 30px;
    margin: 0;
    text-decoration: none;
    margin-left: 14px;
}

@media screen and (max-width: 1200px) {
    .header__phone-number {
        width: 334px;
    }
    }

    @media screen and (max-width: 480px) {
        .header__phone-number {
            display: none;
        }
        }