@import url(./_accent/form__header_accent.css);

.form__header {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #001A33;
    margin: 0 0 25px;
}

@media screen and (max-width: 960px) {
    .form__header {
        width: 52%;
    }
    }

    @media screen and (max-width: 480px) {
        .form__header {
            width: 60%;
            font-size: 20px;
        }
        }