.text__header {
    font-weight: 500;
    font-size: 35px;
    line-height: 44px;
    margin: 0;
}

@media screen and (max-width: 490px) {
    .text__header {
       
        font-size: 26px;
        
    }
    
    }