@import url(./__author/footer__author.css);
@import url(./__rights/footer__rights.css);
@import url(./__author-img/footer__author-img.css);

    .footer {
        display: flex;
        background-color: #001A33;
        justify-content: space-between;
        padding-bottom: 41px;
        padding-top: 31px;
        padding-left: 200px;
        padding-right: 200px;
        color: white;
}

@media screen and (max-width: 890px) {
    .footer {
        justify-content: flex-start;
        flex-direction: column;
        padding-left: 40px;
        }
    }