@import url(./_about/portfolio__slider_about.css);

.portfolio__slider {
    display: flex;
    width: 75%;
    margin: 0 auto;
    align-items: center;
}

@media screen and (max-width: 1389px) {
    .portfolio__slider {
        flex-direction: column;
        }
    }

    @media screen and (max-width: 1390px) {
        .portfolio__slider {
            width: 90%;
            }
        }